.aside {
    grid-area: aside;
    background-image:    url(../assets/top_hat.jpeg);
    /* background-size: auto; */
    background-position: center;
    color: #27df06;
    border-style: ridge;
    border-color: #ab840f;
    margin: 3px;
}