.card{
    border: 3px solid #27df06;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 #ab840fd4;
    width: 150px;
    font-family: 'Asap Condensed', Courier, monospace;
    border-style:ridge;
    padding: 3px;
    padding-top: 1px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-right: 5px;
    background: #ab840f;
    }

    h3 {
        text-decoration: underline;
    }
