.footer {
    list-style: none;
    background-color: rgb(0, 1, 60);
    grid-area: footer;
    color: #a0d6b4;
    font-size: 60px;
    margin: 3px;
    border-style: ridge;
    border-color: blueviolet;
}