.footer {
    list-style: none;
    background-color: #ab840f;
    grid-area: footer;
    color: #27df06;
    text-shadow: 7px 5px 4px rgba(171,132,15,0.83);
    font-size: 25px;
    margin: 3px;
    border-style: ridge;
    border-color: #27df06;
}