.header{
    grid-area: header;
    background-image:    url(../assets/blur_stars_1920x720.jpeg);
    /* background-size: ; */
    background-position: center;
    grid-area: header;
    /* color: #a0d6b4; */
    font-size: 100px;
    margin: 3px;
    border-style: ridge;
    border-color: blueviolet;
}