.header{
    grid-area: header;
    background-image:    url(../assets/blur_stars_1920x720.jpeg);
    background-position: center;
    grid-area: header;
    color: #27df06;
    text-shadow: 7px 5px 4px #ab840fd4;
    font-size: 110px;
    margin: 3px;
    border-style: ridge;
    border-color: #ab840f;
}