.section {
    list-style: none;
    background-color: rgb(144, 237, 22);
    grid-area: main;
    margin: 3px;
    display: flex;
    justify-content: space-around;

    .box{
        width: 1100px;
        grid-area: content;
        background-color: rgb(231, 9, 79);
        height: 150px;
        border: 1px solid red;
    
        }
}