@import url(./header.css);
@import url(./nav.css);
@import url(./section.css);
@import url(./aside.css);
@import url(./footer.css);
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Lobster&display=swap');

.body {
    background: #ab840f;
}

.container {
    display: grid;
    grid-template-columns: 200px 500px 300px;
    grid-template-rows: 150px 675px 75px;
    grid-template-areas:"header header header header header header"
                        "nav main main main aside aside"
                        "nav main main main aside aside"
                        "footer footer footer footer footer footer";
    gap: 15px 15px;

    background-color: #0093e8;
    font-family: Lobster, Courier, monospace;
}