<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Thought</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="body">
    <div class="container">
        <header class="header">Blog Thought</header>
        <nav>
            <ul class="nav">
                <li><a href="../index.html">Home</a></li>
                <li>Blog</li>
                <li><a href="/views/about.html">About</a></li>
            </ul>
        </nav>
        <main>
            <section class="section">
                <article class="article">
                    <h2>Bill Murray</h2>
                    <h5>Published, June 19, 2022</h5>
                    <figure>
                        <img class="image-size" src="../assets/murray_640x360.jpeg" alt="photo fo 'Bill Murray'">
                        <figcaption>Mr. Bill Murray</figcaption>
                    </figure>
                    <p>by, Bill Murray</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
                <article class="article">
                    <h2>Steven Seagal</h2>
                    <h5>Published, June 18, 2022</h5>
                    <figure>
                        <img class="image-size" src="../assets/seagal_640x360.jpeg" alt="photo of 'Steven Seagal'">
                        <figcaption>Mr. Steven Seagal</figcaption>
                    </figure>
                    <p>by, Steven Seagal</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
            </section>
        </main>
        <aside class="blog-aside">
            <div class="card">
                <h3>My Blog</h3>
                <p>Blog Author</p>
                <p>JaSON Rete</p>
                <p>Software Engineer</p>
                <img class="image" src="../assets/bighead.png" alt="meat">
            </div>
            <div class="card">
                <h3>Recent Posts</h3>
                    <img class="image" src="../assets/meat_640x360.jpeg" alt="meat">
                    <img class="image" src="../assets/top_hat.jpeg" alt="top hat">
                    <img class="image" src="../assets/bear.jpeg" alt="bear">
            </div>
            <div class="card">
                <h3>Follow Me</h3>
                <p><a href="@jsonrete"></a>@JSONRete</p>
            </div>
        </aside>
        <footer class="footer">
            <div id="footer">
                <p class="left">Author: JaSON Rete <a href="jsonrete@jsonrete.com">jsonrete@jsonrete.com</a></p>
                <p class="right"><a href="https://twitter.com/JSONRete?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-dnt="true" data-show-count="false">Follow @JSONRete</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
                <p class="right"><a href="https://www.linkedin.com/in/jsonrete/" class="fa fa-linkedin"></a>
                <p class="right"><a href="https://www.facebook.com/JSONRete/" class="fa fa-facebook"></a></p>
                <p class="right">Follow Me:</p>
            </div>
        </footer>
    </div>
    
</body>
</html>